/* Universal selector applies properties to whole HTML */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CSS properties applied to body element */
body {
    background-color: #d9dcd6;
}

/* CSS properties applied to header element  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* CSS properties applied to h1 tag in header element  */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* CSS properties applied to h1 .seo tag in header element  */
header h1 .seo {
    color: #d9dcd6;
}

/* CSS properties applied to nav tag in header element  */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* CSS properties applied to nav ul tag in header element  */
header nav ul {
    list-style-type: none;
}

/* CSS properties applied to nav ul li tag in header element  */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* CSS properties applied to a tag */
a {
    color: #ffffff;
    text-decoration: none;
}

/* CSS properties applied to p tag */
p {
    font-size: 16px;
}

/* CSS properties applied to a class */
.backgroundImage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* CSS properties applied to a class */
.float-left {
    float: left;
    margin-right: 25px;
}

/* CSS properties applied to a class */
.float-right {
    float: right;
    margin-left: 25px;
}

/* CSS properties applied to a class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* CSS properties applied to a class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* CSS properties applied to a class */
.benefit-type {
    margin-bottom: 32px;
    color: #ffffff;
}

/* CSS properties applied to an element in a class */
.benefit-type h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* CSS properties applied to an element in a class */
.benefit-type img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* CSS properties applied to a class */
.services-provided {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* CSS properties applied to an element in a class */
.services-provided img {
    max-height: 200px;
}

/* CSS properties applied to an element in a class */
.services-provided h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* CSS properties applied to an element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* CSS properties applied to a tag in an element */
footer h4 {
    font-size: 20px;
}
